<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" sortOrder="500" showInWebsite="1" showInStore="1">
            <group id="nomad" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Nomad Shipping</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\\Config\\Model\\Config\\Source\\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Title</label>
                </field>
                <field id="apiurl" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Url</label>
                </field>
                <field id="apikey" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                </field>
                <field id="description" translate="label" type="textarea" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="order_return" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Return Management</label>
                    <source_model>Magento\\Config\\Model\\Config\\Source\\Yesno</source_model>
                </field>
                <field id="show_promo_product" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Promo On Product</label>
                    <source_model>Magento\\Config\\Model\\Config\\Source\\Yesno</source_model>
                </field>
                <field id="show_promo_cart" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Promo On Cart</label>
                    <source_model>Magento\\Config\\Model\\Config\\Source\\Yesno</source_model>
                </field>
                <field id="show_promo_checkout" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Promo On Checkout</label>
                    <source_model>Magento\\Config\\Model\\Config\\Source\\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
